.button{
  
    margin: 20px;
    /* width: 10vmin;
    height: 5vmin;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px; */
  }