.dice-container{
    display: flex;
}

.dice-container img{
    width: 5vw;
    height: 10vh;
    border: 2px solid red;
    margin: 5px;
    /* animation: App-logo-spin infinite 20s linear; */
}

/* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */