.Player{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15vw;
    height:30vh;
    border: 1px solid red;
    background-color:rgb(100, 240, 100);
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vw;
    font-size: 1rem;
    color: grey;
    
}

.player-id{

    font-weight: bold;
    color: grey;
}

.current-score{
    font-size: 1rem;
    color: grey;
    
}
.global-score{
    font-size: 1rem;
    color: grey;
    border-top: 2px solid grey; 
    
}

.active-player{
    font-size: 1.5rem;
    animation: glow 0.5s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 20px red;
    }
}