.Player{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15vw;
    height:30vh;
    border: 1px solid red;
    background-color:rgb(100, 240, 100);
    margin: 5vw;
    
}